body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #55238e;
    background-repeat: no-repeat;
}

h1 {
    text-align: left;
    padding-bottom: 30px;
    color: #ff5757;
}

h3 {
    padding-bottom: 10px;
    color: #5ce1e6;
}

.radio-container {
    display: block;
}

.search-container {
    padding-bottom: 25px;
}

.reset-section {
    text-align: center;
}



#reset {
    margin: 50px auto;
    border-radius: 25px;
}

.btn-primary {
    background-color: #ff5757;
    border: none;
}

.btn-primary:hover {
    background-color: #5ce1e6;

}

.connect-section {
    text-align: center;
}

a {
    color: #ff5757;
}

a:hover {
    color: #5ce1e6;
    text-decoration: none;
}

.btn-primary:active {
    box-shadow: none;
  
}

form {
    display: block;
}

#map {
    min-height: 500px !important;
    text-align: left;
    border: solid 15px #ffffff;
    border-radius: 25px;
}

#logo {
    height: 50px;
}

.bg-primary {
    background-color: #2e0e54 !important;
}


.navbar-nav {
    padding-left: 60%;
}

.col-items {
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;

}

#search-items {
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 2%;
}

footer {
    background-color: #2e0e54;
    height: 200px;
    padding-top: 30px;
    left: 0px;
    bottom: 0px;
    width: 100%!important;
    position: static;
    margin: 0!important;
}


.footer-style {
    padding: 20px;
}

.fab {
    font-size: 200%;
    padding: 20px;
}

.modal-header, .modal-footer {
    background-color: rgba(46, 14, 84, 0.9);
}

.modal-content {
  
    background-color: rgba(85, 35, 142, 0.95);
    
}

#resultsTable {
  
    width:100%;
    
}

table {

    color: #ffffff;

}

#listing {
    margin:40px;
}

img {
    height: 120%;
}

tr {
    background-color: #ffffff;
}

.iw-url {
    color: #00000;

}


.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-d, 
#info-content,
#iw-url-row.iw_table_row,
#iw-address-row,
.iw_table_row

{
    
    background-color: #55238e;
  
}

#iw-phone-row#iw-phone {
    color: #00000 !important;

}