body {
    height: 100%;
    margin: 0;
    background-color: #55238e;
    background-repeat: no-repeat;
}

#map {
    min-height: 400px !important;
    text-align: center;
}

#logo {
    height: 50px;
}

.bg-primary {
    background-color: #2e0e54 !important;
}


.navbar-nav {
    padding-left: 60%;
}